.menu__dropdown-list {
  display: block;
  position: absolute;
  left: -3000px;
  top: 100%;
}

.menu__dropdown-list > ul {
  border: 1px solid;
  margin-top: 10px; /* отступ от основного меню */
  padding: 10px 1px;
  min-width: 140px;
  opacity: 0;
  transition: opacity 0.5s; /* анимация прозрачности */
}

.menu__dropdown-list li a {
  z-index: 9999;
  padding: 10px 20px;
}
