.menu__dropdown-list {
  display: block;
  position: absolute;
  left: -3000px;
  top: 100%;
  z-index: 1;
}

.menu__dropdown-list > ul {
  /* border: 1px solid; */
  margin-top: 10px; /* отступ от основного меню */
  padding: 26px 1px;
  width: 225px;
  opacity: 0;
  transition: opacity 0.5s; /* анимация прозрачности */
  background: rgb(255, 255, 255);
}

.menu__dropdown-list li a {
  z-index: 9999;
  padding: 0 31px;
}
.menu__dropdown-list li a:last-of-type {
  padding-top: 0;
}

.menu__dropdown-list hr {
  width: 159px;
  border: 1px solid rgb(231, 231, 231);
}
