.header__phone {
  color: var(--red, #ee2523);
  text-align: right;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  margin-right: 240px;
}
@media (max-width: 1600px) {
  .header__phone {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .header__phone {
    display: none;
  }
}
