.menu__item {
  color: var(--text-icon-90, #1f1f1f);

  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  display: inline-flex;
  align-items: flex-start;
  gap: 36px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .menu__item {
    display: none;
  }
}
