.cover__img {
  width: 1035px;
  height: 412px;
  top: -62px;
  right: -231px;
  position: absolute;
  background: linear-gradient(
      90deg,
      #f8f8f8 0%,
      rgba(248, 248, 248, 0.85) 16.71%,
      rgba(248, 248, 248, 0) 40.11%
    ),
    url("../../../images/change-size.png"), lightgray 50% / cover no-repeat;
}
@media (max-width: 1600px) {
  .cover__img {
    right: -266px;
    background: linear-gradient(
        90deg,
        #f8f8f8 9%,
        rgba(248, 248, 248, 0.85) 16.71%,
        rgba(248, 248, 248, 0) 40.11%
      ),
      url("../../../images/change-size.png"), lightgray 50% / cover no-repeat;
  }
}
@media (max-width: 768px) {
  .cover__img {
    width: 772px;
    height: 400px;
    top: -91px;
    left: -14px;
    background: linear-gradient(
        90deg,
        rgb(248, 248, 248) 11.852%,
        rgba(248, 248, 248, 0.85) 35.725%,
        rgba(248, 248, 248, 0) 55.505%
      ),
      url("../../../images/change-size.png");
  }
}
@media (max-width: 390px) {
  .cover__img {
    width: 662px;
    height: 469px;
    top: -56px;
    left: -50px;
  }
}
