.cover {
  width: 1920px;
  height: 413px;
  background-color: #f8f8f8;
  display: flex;
  position: relative;
  /* z-index: ; */
  /* border: 1px solid black; */
}
@media (max-width: 768px) {
  .cover {
    width: 768px;
    height: 397px;
  }
}
@media (max-width: 390px) {
  .cover {
    width: 480px;
  }
}
