.card__card-price {
  display: flex;
  width: 380px;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .card__card-price {
    width: 274px;
    align-items: normal;
    flex-direction: column;
    row-gap: 12px;
  }
}
