.cover__title {
  color: #000;
  font-family: "Inter";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 65px */
  max-width: 1430px;
  max-height: 195px;
  margin-top: 64px;
  margin-left: 238px;
}
@media (max-width: 768px) {
  .cover__title {
    width: 605px;
    font-size: 40px;
    line-height: 125%;
    margin-left: 40px;
    margin-top: 80px;
    text-align: left;
    position: absolute;
    z-index: 1;
  }
}
