.services__btn {
  display: flex;
  width: 228px;
  height: 86px;
  padding: 0px 24px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid var(---Primary-100, #ee2523);
  background: var(---Primary-100, #ee2523);
  color: var(--text-icon-100, #fff);
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
  position: fixed;
  left: 1705px;
}
.services__btn span {
  display: none;
}
@media (max-width: 1600px) {
  .services__btn {
    left: 1370px;
  }
}

@media (max-width: 768px) {
  .services__btn {
    width: 216px;
    left: 552px;
    top: 471px;
    padding: 16px;
  }
}

@media (max-width: 390px) {
  .services__btn {
    left: 337px;
    top: 474px;
    width: 153px;
    height: 54px;
    gap: 10px;
  }
  .services__btn span {
    display: block;
  }
  .services__btn p {
    display: none;
  }
}
